@font-face {
    font-family: "FIFA";
    src: url("FONT/Dusha_-_FIFA_World_Cup_2018.ttf");
}

.container {
    font-family: "FIFA";
}

body {
    /* background-image: url(https://i.ytimg.com/vi/Z6szMwKsoX4/maxresdefault.jpg); */
    background-color: #E5C685;
}

.game-html {
    white-space: pre-wrap;
    text-align: center;
    background-color: rgba(0, 116, 177, 0.3);
    font-size: 24px;
}

.img-html {
    background-color: rgba(0, 116, 177, 0.3);
}

